name: CI-CD Pipeline

on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: hello-devops

jobs:

  build:
    name: Build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build application
        run: npm run build || echo "No build step"

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-artifact
          path: |
            .
            !node_modules

  test:
    name: Test
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: app-artifact

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dev dependencies for testing
        run: npm ci

      - name: Run unit tests
        run: npm test

  docker:
    name: Docker
    runs-on: self-hosted
    needs: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: app-artifact

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/$IMAGE_NAME:latest .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/$IMAGE_NAME:latest

  deploy:
    name: Deploy
    runs-on: self-hosted
    needs: docker

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Apply Kubernetes manifests (create/update)
        run: |
          kubectl apply -f k8s/
          kubectl get deploy,svc -n default

      - name: Update image and wait for rollout
        run: |
          kubectl set image deployment/hello-devops \
            hello-devops=${{ secrets.DOCKER_USERNAME }}/hello-devops:latest -n default
          kubectl rollout status deployment/hello-devops -n default
          kubectl get pods -n default
